{% extends 'main.html' %}

{% block posts %}

<table align="center"border="1px" id="myTable" class="tablesorter">

 <thead>
 <tr>
     <th>Username</th>
     <th>Title</th>
     <th>Text</th>
     <th>Time</th>
 </tr>
 </thead>

 <tbody>
 {% for article in articles %}
     <tr>
             <td>
                  {{article.username}}
             </td>
             <td>
                  <a href = "/posts/article/{{article.id}}">  {{article.title}} </a>
             </td>
             <td>
                  {{article.text}}
             </td>
             <td>
                  {{article.date}}
             </td>

     </tr>
{% endfor %}
 </tbody>
</table>

<br>

<div align="center" id="pager" class="pager">
 <form>

     <img src="images/first.png" class="first"/>
     <img src="images/prev.png" class="prev"/>
     <input type="text" class="pagedisplay"/>
     <img src="images/next.png" class="next"/>
     <img src="images/last.png" class="last"/>

 </form>
</div>

{% endblock %}
